.gaode {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;

  #gaode__container #drag_handle {
    position: absolute !important;
  }

  .video {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8rem;
    height: 5rem;
    z-index: 999;
    transform: translate(-50%, -50%);
  }
}