@import '@/style/common.scss';

.sidebar{
  max-width: 2.4rem;
  min-width: 2.40rem;
  width: 2.4rem;
  background-color: $dark;
  transition: .3s all ease-in-out;
  height: 100vh;
  max-height: 100vh;
  padding-top: 20px;
  .logo-wrap{
    width: 100%;
    text-align: center;
    height: .54rem;
    background-color: $logoBg;
    text-align: center;
    img{
     width: 1.10rem;
     margin-top: 12px;
    }
  }
}